.hbg
{
    background-color:white;
    height:2000px;
    
}
.navbar {
    overflow: hidden;
    background-color:gold;
    font-family: Arial;
    margin-top:10px;
  }
  

  .navbar a {
    float: left;
    font-size: 16px;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
 
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0px; 
  }
  
 
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:white;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .con1
  {
    background-color:black;
    
    background-size: cover;
    background-attachment: fixed;
    height:350px;
    width:250px;
    margin-left:150px;
    margin-top:250px;
  }
  .img1
  {
     
    background-size: cover;
    background-attachment: fixed;
    height:300px;
    width:250px;
   
  }
  .con2
  {
    background-color:black;
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:450px;
    margin-top:-350px;
  
  }
  .img2
  {
   
    
    background-size: cover;
    background-attachment: fixed;
  
    height:300px;
    width:250px;
   
  
  }
  .con3
  {
    background-color:black;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:750px;
    margin-top:-350px;

  }
  .img3
  {
   

    background-size: cover;
    background-attachment: fixed;
    
    height:300px;
    width:250px;

  }

  .con4
  {
    background-color:black;
    

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:1050px;
    margin-top:-350px;

  }
  .img4
  {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;

  }

  .con5
  {
    background-color:black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:150px;
    margin-top:100px;

  }
  .img5
  {
    

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;
    
  }

  .con6
  {
    background-color:black;

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:450px;
    margin-top:-350px;

  }
  .img6
  {
    

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;
    

  }
  .con7
  {
    background-color:black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:750px;
    margin-top:-350px;

  }
  .img7
  {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;
  }


  .con8
  {
    background-color:black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:1050px;
    margin-top:-350px;

  }
  .img8
  {
   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;
  }

  .con9
  {
    background-color:black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:350px;
    width:250px;
    margin-left:150px;
    margin-top:100px;

  }
  .img9
  {
   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:300px;
    width:250px;
  }
  .con1  {
    
    transition: 0.5s all ease-in-out;
}
  
.con1:hover{
    transform: scale(1.1);
}
.con2 {
    
  transition: 0.5s all ease-in-out;
}

.con2:hover{
  transform: scale(1.1);
}
.con3 {
    
  transition: 0.5s all ease-in-out;
}

.con3:hover{
  transform: scale(1.1);
}
.con4 {
    
    transition: 0.5s all ease-in-out;
}
  
.con4:hover{
    transform: scale(1.1);
}
.con5  {
    
    transition: 0.5s all ease-in-out;
}
  
.con5:hover{
    transform: scale(1.1);
}
.con6  {
    
    transition: 0.5s all ease-in-out;
}
  
.con6:hover{
    transform: scale(1.1);
}
.con7{
    
    transition: 0.5s all ease-in-out;
}
  
.con7:hover{
    transform: scale(1.1);
}
.con8  {
    
    transition: 0.5s all ease-in-out;
}
  
.con8:hover{
    transform: scale(1.1);
}

.con9 {
  
  transition: 0.5s all ease-in-out;
}

.con9:hover{
  transform: scale(1.1);
}

.ol3
{
  color:white;
}